
$primary_clr: hsl(183, 70%, 98%);
$primary_clr_dark: hsl(183, 70%,40%);
$secondary_clr: hsl(203, 39%, 44%);
$secondary_clr_light: hsl(203, 39%, 60%);
$secondary_clr_dark: hsl(203, 39%, 38%);
$third_clr: hsl(156, 3%, 34%);
$third_clr_light: hsl(156, 3%, 60%);